.Adminside{
    position: fixed;
    width: 300px;
    height:100vh;
    background: #343a40;
    z-index: 5;
    box-shadow: 0 0 10px black;
    &__avatar{
        padding: 30px 10px;
        display: flex;
        align-items: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        &-img{
            max-width: 80px;
            height: auto;
            border-radius: 50%;
        }
        &-name{
            margin-bottom: 0 !important;
            color: white;
            margin-left: 20px;
        }
    }
    &__nav{

    }
    &__item{

    }
    &__link{

    }
}